<aside class="col-md-3">
    <!--   SIDEBAR   -->
    <ul class="list-group">
      <a class="list-group-item" href="{% url 'dashboard' %}">Dashboard</a>
      <a class="list-group-item" href="{% url 'my_orders' %}"> My Orders </a>
      <a class="list-group-item" href="#"> Edit Profile </a>
      <a class="list-group-item" href="#"> Change Password </a>
    </ul>
    <br />
    <a href="{% url 'log_out' %}" class="btn btn-light btn-block">
      <i class="fa fa-power-off"></i> <span class="text">Log out</span>
    </a>
    <!--   SIDEBAR .//END   -->
  </aside>